@import 'https://unpkg.com/open-props';
@import 'https://unpkg.com/open-props/normalize.min.css';


html {
	background-image: var(--gradient-18);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: var(--size-5);
}

header nav {
	display: flex;
	justify-content: space-between;
}

footer {
}