<footer>
    <a href="/about">About</a>
    <a href="/resume">Resume</a>
    <a href="/projects">Projects</a>
    <a href="mailto:karl@guillotte.info">Contact</a>
</footer>

<style is:global>
    body > footer {
        display: flex;
        gap: var(--size-5);
    }
</style>
